version: 1
disable_existing_loggers: false

formatters:
  json:
    class: src.utils.logger.JSONFormatter
    datefmt: "%Y-%m-%d %H:%M:%S"
  
  console:
    format: "%(asctime)s [%(levelname)s] %(name)s - %(message)s"
    datefmt: "%Y-%m-%d %H:%M:%S"

handlers:
  console:
    class: rich.logging.RichHandler
    level: INFO
    formatter: console
    rich_tracebacks: true
  
  file:
    class: logging.handlers.RotatingFileHandler
    level: DEBUG
    formatter: json
    filename: data/logs/zema.log
    maxBytes: 10485760  # 10MB
    backupCount: 5
    encoding: utf-8

loggers:
  src:
    level: DEBUG
    handlers: [console, file]
    propagate: false

root:
  level: INFO
  handlers: [console, file]

